<p>{{ title }}</p>
<p>The hero's birthday is {{ birthday | date: format | uppercase }}</p>
<br>
<button (click)="toggleFormat()">Toggle Format</button>
<br>
<p>The price of product is {{ cost | currency: 'EUR' }}</p>
<br>
<h2>Power Booster</h2>
<p>Super power boost: {{2 | expStrength: 10}}</p>
<br>
<h2>Power Boost Calculator</h2>
<label for="power-input">Normal power: </label>
<input id="power-input" type="text" [(ngModel)]="power">
<label for="boost-input">Boost factor: </label>
<input id="boost-input" type="text" [(ngModel)]="factor">
<p>Super Hero Power: {{power | expStrength: factor}}</p>

<br>

<h2>Async Hero Message and AsyncPipe</h2>
<p>Message: {{ message$ | async }}</p>
<button (click)="resend()">Resend</button>